@model IEnumerable<PasswordWalletMVC.Models.Password>
@{
    ViewData["Title"] = "DisplayedPasswords";
}

<h1>DisplayedPasswords</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PasswordName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.WebAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>         
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.WebAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-controller="Account" asp-action="HashPassword" asp-route-id="@item.PasswordId" class="btn btn-primary button-form">Hash</a>
                    <a asp-controller="Account" asp-action="UnhashPassword" asp-route-id="@item.PasswordId" class="btn btn-primary button-form">UnHash</a>
                    @* <input type="button" value="Hash" onclick="location.href='@Url.Action("HashPassword", "Account")'" />
                     <input type="button" value="Unhash" onclick="location.href='@Url.Action("UnhashPassword", "Account")'" />*@
                   @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Account" asp-action="LoggedIn" class="btn btn-primary button-form">Add another password if you would like to</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @if (ViewBag.Message != null)
    {
        <div class="form-group">
            <div class="col-md-10">@ViewBag.Message</div>
        </div>
    }
}